@use "../core/variables";

.rct-text {
  align-items: flex-start;
}

.react-checkbox-tree label {
  flex-shrink: 0;
}

.rct-collapse {
  align-self: initial;
}

.rct-icon-expand-close,
.rct-icon-expand-open {
  padding-top: 6px;
}

.active {
  background-color: variables.$blue-lighter;
}

.rct-node-clickable {
  cursor: pointer;

  &:hover {
    background: rgba(229, 241, 250, 0.5);
  }

  &:focus {
    outline: 0;
    background: variables.$blue-lighter;
  }
}

label {
  &:hover {
    background: rgba(229, 241, 250, 0.5) !important;
  }
}
