@use "../core/mixins";
@use "../core/variables";

.search-results {
  overflow-y: scroll;
  margin-bottom: 16px;
  background-color: variables.$blue-lighter;
  padding: 8px;
  margin-top: 48px;

  @include mixins.media(lg){
    margin-top: 64px;
  }
}

.search-results__item {
  border-bottom: 1px solid gray;
  margin-bottom: 16px;
}
